@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-charcoal font-sans antialiased;
  }
  * {
    @apply border-border-neutral;
  }
  :focus-visible {
    @apply outline-2 outline-offset-2 outline-kraft;
  }
}
